<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'myapp:home_page' %}">Django CRM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'myapp:add_record' %}">Add Record</a>
        </li>


         <form method="POST" action="{% url 'myapp:logout' %}" style="display: none;">
            {% csrf_token %}
              </form>

       <a href="#" onclick="document.forms[0].submit()" class="nav-link">Logout</a>


        {% else %}
         <li class="nav-item">
          <a class="nav-link" href="{% url 'myapp:home_page' %}">Login</a>
        </li>

          <li class="nav-item">
          <a class="nav-link" href="{% url 'myapp:register' %}">Register</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>